[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=/usr/bin/ts-startsessionb
TryExec=/usr/bin/ts-startsessionb
DesktopNames=theShell
Name=theShell Blueprint
Comment=Desktop Shell for theShell OS
