
div.blockTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    
    width: calc(100% - 200px);
    height: 500px;
    background-attachment: fixed;
    
    -webkit-transition:=1s ease-out;
    -moz-transition:=1s ease-out;
    transition:=1s ease-out;
}

div.blockLanding#theshell {
    background-color: green;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url("images/triangles.png") no-repeat center center;
    background-size: 100% auto;
    color: white;
}

div.blockTitle#bar {
    background-color: green;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("images/bardemo.png") no-repeat left center;
    background-size: cover;
    color: white;
    height: 250px;
}


div.blockTitle#statcenter {
    background-color: green;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                ;
    background-size: cover;
    color: white;
}


div.blockTitle#touch {
    background-color: green;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                green;
    background-size: cover;
    color: white;
}

div.blockLanding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    
    width: calc(100% - 200px);
    background-color: black;
    height: 200px;
    background-attachment: fixed;
    
    -webkit-transition:=1s ease-out;
    -moz-transition:=1s ease-out;
    transition:=1s ease-out;
}

footer {
    padding-left: 100px;
}
