@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

body {
    padding-top: 50px;
    font-family: Noto Sans;
    margin: 0px;
}

div.navbar {
    position: fixed;
    height: 50px;
    top: 0px;
    left: 0px;
    width: 100%;
    
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                url("images/triangles.png") no-repeat center center fixed;
    background-size: 100% auto;
    
    color: white;
    border-bottom: 1px solid black;
    justify-content: center;
    display: flex;
    align-items: center;
}

div.navbarContent {
    display: flex;
    vertical-align: middle;
    width: 800px;
}

div.navbarImage {
    display: flex;
    padding-top: calc(1em + 5px);
}

span.navbarHeader {
    font-size: 30px;
}

ul.navbarItems {
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
}

ul.navbarItems a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    
    -webkit-transition:.25s ease-out;
    -moz-transition:.25s ease-out;
    transition:.25s ease-out;
}

ul.navbarItems a:hover {
    background-color: black;
}

div.headerItem {
    vertical-align: middle;
    align-self: flex-end;
    float: right;
    height: 100%;
}

.button {
    display: inline-block;
    background: rgb(0, 200, 255);
    color: black;
    padding: 5px;
    text-decoration: none;
    font-variant: small-caps;
    
    
    -webkit-transition:.25s ease-out;
    -moz-transition:.25s ease-out;
    transition:.25s ease-out;
}

.button:hover {
    background: rgb(0, 220, 255);
    color: white;
}

.button:active {
    background: rgb(0, 180, 255);
    color: white;
}

h1,h2 {
    padding: 0px;
    margin: 0px;
}
